<div>
<img class="profile-picture" src="mypic.png" />

</br></br></br>

Abhishek Jha  <br/>
Doctoral Student, VISICS<br/>
<a href="https://www.esat.kuleuven.be/">Departement Elektrotechniek</a>  <br/>
<a href="https://www.kuleuven.be/">Katholieke Universiteit Leuven</a>  <br/>
Email: abhishek [dot] jha [at] esat.kuleuven.be
<!-- <br>
 <a style="width:auto; height:10px;"href="data/resume.pdf"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 <a style="width:auto; height:10px;"href="https://www.iitism.ac.in/"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 <a style="width:auto; height:10px;"href="https://www.iitism.ac.in/"><img class="custom_logo" src="images/iit_dhn_logo.png" alt="IIT Dhanbad" id="iit_dhn_logo"/></a>
 -->
</div>
<div style="clear:both"></div>
<hr />